In [16]:
import pandas as pd

# Data Manipulation

In [17]:
df_Yh = pd.read_csv('Yahoo_output_all.csv')
df_Yh['source'] = 'Yahoo'
df_CNBC = pd.read_csv('CNBC_output_all.csv')
df_CNBC['source'] = 'CNBC'
df = pd.concat([df_Yh, df_CNBC], ignore_index=True)
df

,Author,Title,Content,source
0,Brooke DiPalma,How Lululemon parlayed yoga pants into an entr...,Lululemon is finally aligning with Wall Street...,Yahoo
1,Ronda Lee,Student loan repayments will have a 'limited' ...,Researchers at the Federal Reserve Bank of New...,Yahoo
2,Alexandra Canal,Netflix subscribers surge as company announces...,Netflix (NFLX) reported a surge in third quart...,Yahoo
3,Pras Subramanian,Tesla earnings: Q3 revenue and profit miss est...,Tesla (TSLA) stock was volatile in after-hours...,Yahoo
4,Karen Friar and Josh Schafer,"Stocks plummet, yields rise after earnings war...","Stocks sold off on Wednesday, as a tightening ...",Yahoo
...,...,...,...,...
357,Annika Kim Constantino,Covid shot rollout off to a bumpy start as som...,In this article\nThe rollout of a new round of...,CNBC
358,Stefan Sykes,Anheuser-Busch to stop cutting off Clydesdale ...,In this article\nAnheuser-Busch\nInBev said it...,CNBC
359,Michael Wayland,GM executive slams UAW over ‘flow of misinform...,In this article\nDETROIT – As the United Auto ...,CNBC
360,Stefan Sykes,Philip Morris weighs options for pharmaceutica...,In this article\nPhilip Morris International\n...,CNBC
361,Melissa Repko,Walmart opens pet center with veterinary care ...,In this article\nWalmart\nis opening a dedicat...,CNBC

In [23]:
df[:3]

,Author,Title,Content,source
0,Brooke DiPalma,How Lululemon parlayed yoga pants into an entr...,Lululemon is finally aligning with Wall Street...,Yahoo
1,Ronda Lee,Student loan repayments will have a 'limited' ...,Researchers at the Federal Reserve Bank of New...,Yahoo
2,Alexandra Canal,Netflix subscribers surge as company announces...,Netflix (NFLX) reported a surge in third quart...,Yahoo

In [33]:
# Sentiment analysis using VADER
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# Create a sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

# Analyze the sentiment of the news article text
df['neg'] = df['Title'].apply(lambda x: analyzer.polarity_scores(x)['neg'])
df['neu'] = df['Title'].apply(lambda x: analyzer.polarity_scores(x)['neu'])
df['pos'] = df['Title'].apply(lambda x: analyzer.polarity_scores(x)['pos'])
df['com'] = df['Title'].apply(lambda x: analyzer.polarity_scores(x)['compound'])
# The sentiment_scores dictionary will contain sentiment scores (neg, neu, pos, com)
df

,Author,Title,Content,source,sentiment_scores,neg,neu,pos,com
0,Brooke DiPalma,How Lululemon parlayed yoga pants into an entr...,Lululemon is finally aligning with Wall Street...,Yahoo,"{'neg': 0.116, 'neu': 0.764, 'pos': 0.12, 'com...",0.116,0.764,0.120,0.0258
1,Ronda Lee,Student loan repayments will have a 'limited' ...,Researchers at the Federal Reserve Bank of New...,Yahoo,"{'neg': 0.137, 'neu': 0.863, 'pos': 0.0, 'comp...",0.137,0.863,0.000,-0.2263
2,Alexandra Canal,Netflix subscribers surge as company announces...,Netflix (NFLX) reported a surge in third quart...,Yahoo,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000
3,Pras Subramanian,Tesla earnings: Q3 revenue and profit miss est...,Tesla (TSLA) stock was volatile in after-hours...,Yahoo,"{'neg': 0.097, 'neu': 0.727, 'pos': 0.176, 'co...",0.097,0.727,0.176,0.3182
4,Karen Friar and Josh Schafer,"Stocks plummet, yields rise after earnings war...","Stocks sold off on Wednesday, as a tightening ...",Yahoo,"{'neg': 0.18, 'neu': 0.82, 'pos': 0.0, 'compou...",0.180,0.820,0.000,-0.2960
...,...,...,...,...,...,...,...,...,...
357,Annika Kim Constantino,Covid shot rollout off to a bumpy start as som...,In this article\nThe rollout of a new round of...,CNBC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.000,1.000,0.000,0.0000
358,Stefan Sykes,Anheuser-Busch to stop cutting off Clydesdale ...,In this article\nAnheuser-Busch\nInBev said it...,CNBC,"{'neg': 0.316, 'neu': 0.684, 'pos': 0.0, 'comp...",0.316,0.684,0.000,-0.4019
359,Michael Wayland,GM executive slams UAW over ‘flow of misinform...,In this article\nDETROIT – As the United Auto ...,CNBC,"{'neg': 0.13, 'neu': 0.87, 'pos': 0.0, 'compou...",0.130,0.870,0.000,-0.1280
360,Stefan Sykes,Philip Morris weighs options for pharmaceutica...,In this article\nPhilip Morris International\n...,CNBC,"{'neg': 0.0, 'neu': 0.604, 'pos': 0.396, 'comp...",0.000,0.604,0.396,0.7096
361,Melissa Repko,Walmart opens pet center with veterinary care ...,In this article\nWalmart\nis opening a dedicat...,CNBC,"{'neg': 0.0, 'neu': 0.775, 'pos': 0.225, 'comp...",0.000,0.775,0.225,0.4939