In [88]:
import pandas as pd

# Data Manipulation

In [89]:
def save_df(df):
    df.to_csv('output_all.csv', ',', index=False, encoding='utf-8')

In [90]:
df_Yh = pd.read_csv('Yahoo_output_all.csv')
df_Yh['source'] = 'Yahoo'
df_CNBC = pd.read_csv('CNBC_output_all.csv')
df_CNBC['source'] = 'CNBC'
df = pd.concat([df_Yh, df_CNBC], ignore_index=True)
save_df(df)
df

,Author,Title,Content,source
0,Brooke DiPalma,How Lululemon parlayed yoga pants into an entr...,Lululemon is finally aligning with Wall Street...,Yahoo
1,Ronda Lee,Student loan repayments will have a 'limited' ...,Researchers at the Federal Reserve Bank of New...,Yahoo
2,Alexandra Canal,Netflix subscribers surge as company announces...,Netflix (NFLX) reported a surge in third quart...,Yahoo
3,Pras Subramanian,Tesla earnings: Q3 revenue and profit miss est...,Tesla (TSLA) stock was volatile in after-hours...,Yahoo
4,Karen Friar and Josh Schafer,"Stocks plummet, yields rise after earnings war...","Stocks sold off on Wednesday, as a tightening ...",Yahoo
...,...,...,...,...
357,Annika Kim Constantino,Covid shot rollout off to a bumpy start as som...,In this article\nThe rollout of a new round of...,CNBC
358,Stefan Sykes,Anheuser-Busch to stop cutting off Clydesdale ...,In this article\nAnheuser-Busch\nInBev said it...,CNBC
359,Michael Wayland,GM executive slams UAW over ‘flow of misinform...,In this article\nDETROIT – As the United Auto ...,CNBC
360,Stefan Sykes,Philip Morris weighs options for pharmaceutica...,In this article\nPhilip Morris International\n...,CNBC
361,Melissa Repko,Walmart opens pet center with veterinary care ...,In this article\nWalmart\nis opening a dedicat...,CNBC

In [91]:
df.head(10)

,Author,Title,Content,source
0,Brooke DiPalma,How Lululemon parlayed yoga pants into an entr...,Lululemon is finally aligning with Wall Street...,Yahoo
1,Ronda Lee,Student loan repayments will have a 'limited' ...,Researchers at the Federal Reserve Bank of New...,Yahoo
2,Alexandra Canal,Netflix subscribers surge as company announces...,Netflix (NFLX) reported a surge in third quart...,Yahoo
3,Pras Subramanian,Tesla earnings: Q3 revenue and profit miss est...,Tesla (TSLA) stock was volatile in after-hours...,Yahoo
4,Karen Friar and Josh Schafer,"Stocks plummet, yields rise after earnings war...","Stocks sold off on Wednesday, as a tightening ...",Yahoo
5,Ben Werschkul,Calls to empower Patrick McHenry get louder as...,Rep. Jim Jordan (R-Ohio) fell short for a seco...,Yahoo
6,Karen Friar and Josh Schafer,"Stocks plummet, yields rise after earnings war...","Stocks sold off on Wednesday, as a tightening ...",Yahoo
7,David Hollerith,Morgan Stanley's profit drops on Wall Street s...,Third quarter profits at Morgan Stanley (MS) d...,Yahoo
8,Julie Hyman,Why you shouldn't listen to Jamie Dimon,This is The Takeaway from today's Morning Brie...,Yahoo
9,Josh Schafer,Goldman: 15 million Americans will be taking w...,Predictions for the size of the market for pre...,Yahoo

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Author   362 non-null    object
 1   Title    362 non-null    object
 2   Content  362 non-null    object
 3   source   362 non-null    object
dtypes: object(4)
memory usage: 11.4+ KB

In [93]:
import re

# Sample string
text = 'src=https://s.yimg.com/ny/api/res/1.2/dS1Fa11KrGGkRpRnAMgy8w--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtjZj13ZWJw/https://s.yimg.com/os/creatr-uploaded-images/2023-10/7ce4fc70-6a9f-11ee-bcf9-389be0983ca1 class=caas-img>'

# Use regular expressions to remove text between "src=" and "caas-img>"
text = re.sub(r'src=.*?caas-img>', '', text)

# Display the modified text
print(text)

In [94]:
import re
df['Content'] = df['Content'].apply(lambda x: x.replace('\n', ' '))
df['Content'] = df['Content'].apply(lambda x: re.sub(r'<.*>', ' ', x))
save_df(df)
df.drop_duplicates(inplace=True, ignore_index=True)
df

,Author,Title,Content,source
0,Brooke DiPalma,How Lululemon parlayed yoga pants into an entr...,Lululemon is finally aligning with Wall Street...,Yahoo
1,Ronda Lee,Student loan repayments will have a 'limited' ...,Researchers at the Federal Reserve Bank of New...,Yahoo
2,Alexandra Canal,Netflix subscribers surge as company announces...,Netflix (NFLX) reported a surge in third quart...,Yahoo
3,Pras Subramanian,Tesla earnings: Q3 revenue and profit miss est...,Tesla (TSLA) stock was volatile in after-hours...,Yahoo
4,Karen Friar and Josh Schafer,"Stocks plummet, yields rise after earnings war...","Stocks sold off on Wednesday, as a tightening ...",Yahoo
...,...,...,...,...
343,Annika Kim Constantino,Covid shot rollout off to a bumpy start as som...,In this article The rollout of a new round of ...,CNBC
344,Stefan Sykes,Anheuser-Busch to stop cutting off Clydesdale ...,In this article Anheuser-Busch InBev said it w...,CNBC
345,Michael Wayland,GM executive slams UAW over ‘flow of misinform...,In this article DETROIT – As the United Auto W...,CNBC
346,Stefan Sykes,Philip Morris weighs options for pharmaceutica...,In this article Philip Morris International is...,CNBC
347,Melissa Repko,Walmart opens pet center with veterinary care ...,In this article Walmart is opening a dedicated...,CNBC

In [95]:
# Sentiment analysis using VADER
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# Create a sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

# Analyze the sentiment of the news article text
df['neg'] = df['Title'].apply(lambda x: analyzer.polarity_scores(x)['neg'])
df['neu'] = df['Title'].apply(lambda x: analyzer.polarity_scores(x)['neu'])
df['pos'] = df['Title'].apply(lambda x: analyzer.polarity_scores(x)['pos'])
df['compound'] = df['Title'].apply(lambda x: analyzer.polarity_scores(x)['compound'])
# The sentiment_scores dictionary will contain sentiment scores (neg, neu, pos, com)
df

,Author,Title,Content,source,neg,neu,pos,compound
0,Brooke DiPalma,How Lululemon parlayed yoga pants into an entr...,Lululemon is finally aligning with Wall Street...,Yahoo,0.116,0.764,0.120,0.0258
1,Ronda Lee,Student loan repayments will have a 'limited' ...,Researchers at the Federal Reserve Bank of New...,Yahoo,0.137,0.863,0.000,-0.2263
2,Alexandra Canal,Netflix subscribers surge as company announces...,Netflix (NFLX) reported a surge in third quart...,Yahoo,0.000,1.000,0.000,0.0000
3,Pras Subramanian,Tesla earnings: Q3 revenue and profit miss est...,Tesla (TSLA) stock was volatile in after-hours...,Yahoo,0.097,0.727,0.176,0.3182
4,Karen Friar and Josh Schafer,"Stocks plummet, yields rise after earnings war...","Stocks sold off on Wednesday, as a tightening ...",Yahoo,0.180,0.820,0.000,-0.2960
...,...,...,...,...,...,...,...,...
343,Annika Kim Constantino,Covid shot rollout off to a bumpy start as som...,In this article The rollout of a new round of ...,CNBC,0.000,1.000,0.000,0.0000
344,Stefan Sykes,Anheuser-Busch to stop cutting off Clydesdale ...,In this article Anheuser-Busch InBev said it w...,CNBC,0.316,0.684,0.000,-0.4019
345,Michael Wayland,GM executive slams UAW over ‘flow of misinform...,In this article DETROIT – As the United Auto W...,CNBC,0.130,0.870,0.000,-0.1280
346,Stefan Sykes,Philip Morris weighs options for pharmaceutica...,In this article Philip Morris International is...,CNBC,0.000,0.604,0.396,0.7096
347,Melissa Repko,Walmart opens pet center with veterinary care ...,In this article Walmart is opening a dedicated...,CNBC,0.000,0.775,0.225,0.4939

In [96]:
df_nasdaq = pd.read_csv('nasdaq_screener_1697679941814.csv')
text_to_search = df_nasdaq['Symbol'].to_list() + df_nasdaq['Name'].to_list()
text_to_search = [a for a in text_to_search if isinstance(a, str)]

In [97]:
pattern = f'\b({"|".join(map(re.escape, text_to_search))})\b'
df['symbol_title'] = df['Title'].str.extract(pattern, expand=True)
df['name_title'] = ''
df

,Author,Title,Content,source,neg,neu,pos,compound,symbol_title,name_title
0,Brooke DiPalma,How Lululemon parlayed yoga pants into an entr...,Lululemon is finally aligning with Wall Street...,Yahoo,0.116,0.764,0.120,0.0258,NaN,
1,Ronda Lee,Student loan repayments will have a 'limited' ...,Researchers at the Federal Reserve Bank of New...,Yahoo,0.137,0.863,0.000,-0.2263,NaN,
2,Alexandra Canal,Netflix subscribers surge as company announces...,Netflix (NFLX) reported a surge in third quart...,Yahoo,0.000,1.000,0.000,0.0000,NaN,
3,Pras Subramanian,Tesla earnings: Q3 revenue and profit miss est...,Tesla (TSLA) stock was volatile in after-hours...,Yahoo,0.097,0.727,0.176,0.3182,NaN,
4,Karen Friar and Josh Schafer,"Stocks plummet, yields rise after earnings war...","Stocks sold off on Wednesday, as a tightening ...",Yahoo,0.180,0.820,0.000,-0.2960,NaN,
...,...,...,...,...,...,...,...,...,...,...
343,Annika Kim Constantino,Covid shot rollout off to a bumpy start as som...,In this article The rollout of a new round of ...,CNBC,0.000,1.000,0.000,0.0000,NaN,
344,Stefan Sykes,Anheuser-Busch to stop cutting off Clydesdale ...,In this article Anheuser-Busch InBev said it w...,CNBC,0.316,0.684,0.000,-0.4019,NaN,
345,Michael Wayland,GM executive slams UAW over ‘flow of misinform...,In this article DETROIT – As the United Auto W...,CNBC,0.130,0.870,0.000,-0.1280,NaN,
346,Stefan Sykes,Philip Morris weighs options for pharmaceutica...,In this article Philip Morris International is...,CNBC,0.000,0.604,0.396,0.7096,NaN,
347,Melissa Repko,Walmart opens pet center with veterinary care ...,In this article Walmart is opening a dedicated...,CNBC,0.000,0.775,0.225,0.4939,NaN,